<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="17.10.0-release-24177-07" targetFramework="net471" />
  <package id="Microsoft.NET.Test.Sdk" version="17.4.1" targetFramework="net471" />
  <package id="NUnit" version="3.13.3" targetFramework="net471" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net471" />
  <package id="NUnitLite" version="3.13.3" targetFramework="net471" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net471" />
  <package id="NUnitTestAdapter.WithFramework" version="2.0.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
</packages>